.sign-in-form {
	display: block;
	margin: 0 auto;
	width: 400px;
	padding: 40px;
	border: 1px solid #eee;
	background: #cfd3cc;
	border-radius: 20px;

	label {
		color: #666;

		input {
			font-size: 20px;
			padding: 6px 12px;
		}
	}

	.disabled {
		opacity: 0.43;
	}
}
