<div class="overview">
    <div class="metrics">
        <div class="pt-3">
            Current Circulating Supply: <b>{{ circulatingSupply | number:'1.0-2' }}</b>
        </div>
    </div>
    <div class="mt-5">
        <h3 class="approved-header">Approve Unlock Transactions</h3>
        <app-account [overview]="true"></app-account>
    </div>
    <div class="mt-5">
        <h3 class="approved-header">Search TXs by Deploy hashes or Account addresses</h3>
        <div class="form-group mt-5">
            <label for="deploy-hash" class="d-block">
                Search:
            </label>
            <input class="form-control" [(ngModel)]="searchTerm" name="searchTerm" id="search-term"
                   (ngModelChange)="searchChanged()" />
        </div>

        <div style="min-height: 300px">
            <app-account [searchTerm]="searchTerm" *ngIf="searchTerm && showSearchTerm"></app-account>
        </div>
    </div>
</div>
