<div class="overview">
    <div class="metrics">
        <div class="pt-3">
            Current Circulating Supply: <b>{{ circulatingSupply | number:'1.0-2' }}</b>
        </div>
        <div class="mt-2 text-muted text-small">
            It includes approved transactions, unlocked stake and related Validators rewards.
        </div>
    </div>
    <div class="mt-5">
        <h3>Approve Unlocked Funds</h3>
        <h4 class="approved-header mt-5">Transfers</h4>
        <app-account [overview]="true"></app-account>
    </div>
</div>
