.top-menu-container {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    height: 30px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 4px;
    background: #76806e;
    overflow: hidden;
    a.top-logo {
        display: block;
        float: left;
        color: #a8f36b !important;
        text-decoration: none;
    }
    .top-menu-link, a.top-menu-link:visited {
        float: right;
        margin-left: 25px;
        text-decoration: none;
        color: white;
        &.active, &a:hover {
            color: #a8f36b;
        }
    }
}

.menu-container {
    position: absolute;
    left: 0;
    right: 0;
    top: 30px;
    height: 62px;
    padding-top: 20px;
    background: linear-gradient( 180deg, #ccd3c7, #c2c9be);
    .nav {
        justify-content: center;
    }
    .nav-item {
        .nav-link {
            cursor: pointer;
        }
        a, a:active, a:visited {
            color: #333;
        }
        a:hover {
            color: #445;
        }
        a.active {
            background-color: #e8ebe5;
            border-color: #cfd3cb #cfd3cb #e8ebe5;
        }
        .fas {
            font-size: 0.63em;
            position: relative;
            top: -1px;
            color: #76806f;
        }
        &.users-link {
            position: relative;
            top: -41px;
        }
    }
}
.tree-container {
    margin-top: 60px;
    transition: height 0.4s ease;
}
