<div class="container-lg p-4" *ngIf="!authService.isActivating && !authService.loggedIn">
    <app-auth></app-auth>
</div>

<div class="container-lg p-4" *ngIf="authService.isActivating && !authService.loggedIn">
    <app-activate></app-activate>
</div>

<div class="container-lg p-4" *ngIf="authService.loggedIn">
    <div class="top-menu-container">
            <a class="top-logo" routerLink="/">
                Casper Metrics Admin Dashboard
            </a>
            <a class="top-menu-link" routerLinkActive="active" routerLink="/signout">
                <i class="fas fa-sign-out-alt"></i>
                Sign&nbsp;Out
            </a>

            <div class="top-menu-link ms-5">
                <i>
                    {{ authService?.user?.firstName }}
                    {{ authService?.user?.lastName }}
                </i>
            </div>

            <a *ngIf="authService.user.role === 'administrator'"
               class="top-menu-link" routerLinkActive="active" routerLink="/users">
                <i class="fas fa-users"></i>
                Users
            </a>

            <a class="top-menu-link" routerLinkActive="active" routerLink="/logs">
                <i class="fas fa-users"></i>
                Logs
            </a>
    </div>
    <div class="menu-container">
        <ul class="nav nav-tabs">
            <li class="nav-item me-4">
                <a class="nav-link" routerLinkActive="active" routerLink="/"
                   [routerLinkActiveOptions]="{ exact: true }">
                    <i class="fas fa-stamp"></i>
                    Approval
                </a>
            </li>
            <li class="nav-item" *ngFor="let vault of vaults">
                <a class="nav-link" routerLinkActive="active" [routerLink]="'/account/' + vault.from">
                    <i class="fas fa-wallet"></i>
                    {{ vault.name }}
                </a>
            </li>
            <li class="nav-item ms-4">
                <a class="nav-link" routerLinkActive="active" routerLink="/stake-unlock">
                    <i class="fas fa-lock-open"></i>
                    Stake&nbsp;Unlock
                </a>
            </li>
        </ul>
    </div>

    <router-outlet></router-outlet>
</div>
