<div *ngIf="!authService.isActivating && !authService.loggedIn" class="container-lg p-4">
    <app-auth></app-auth>
</div>

<div *ngIf="authService.isActivating && !authService.loggedIn" class="container-lg p-4">
    <app-activate></app-activate>
</div>

<div *ngIf="authService.loggedIn" class="container-lg p-4">
    <div class="top-menu-container">
        <a class="top-logo" routerLink="/">
            Casper Metrics Admin Dashboard
        </a>
        <a class="top-menu-link" routerLink="/signout" routerLinkActive="active">
            <i class="fas fa-sign-out-alt"></i>
            Sign&nbsp;Out
        </a>

        <div class="top-menu-link ms-5">
            <i>
                {{ authService?.user?.firstName }}
                {{ authService?.user?.lastName }}
                ({{ authService?.user?.role }})
            </i>
        </div>

        <a *ngIf="authService.user.role === 'administrator'"
           class="top-menu-link" routerLink="/users" routerLinkActive="active">
            <i class="fas fa-users"></i>
            Users
        </a>

        <a class="top-menu-link" routerLink="/logs" routerLinkActive="active">
            <i class="fas fa-history"></i>
            Logs
        </a>
    </div>
    <div class="menu-container">
        <ul class="nav nav-tabs">
            <li class="nav-item me-4">
                <a [routerLinkActiveOptions]="{ exact: true }" class="nav-link" routerLink="/"
                   routerLinkActive="active">
                    <i class="fas fa-stamp"></i>
                    <b> Approval</b>
                </a>
            </li>
            <li class="nav-item">
                <a [routerLinkActiveOptions]="{ exact: true }" class="nav-link" routerLink="/search"
                   routerLinkActive="active">
                    <i class="fas fa-search"></i>
                    Search
                </a>
            </li>
            <li *ngFor="let vault of vaults" class="nav-item">
                <a [routerLink]="'/account/' + vault.from" class="nav-link" routerLinkActive="active">
                    <i class="fas fa-wallet"></i>
                    {{ vault.name }}
                </a>
            </li>
            <li class="nav-item ms-4">
                <a class="nav-link" routerLink="/stake-unlock" routerLinkActive="active">
                    <i class="fas fa-lock-open"></i>
                    Stake&nbsp;Unlock
                </a>
            </li>
        </ul>
    </div>

    <router-outlet></router-outlet>
</div>
