<div *ngIf="user.id">
    <h5>{{ user.firstName }} {{ user.lastName }}</h5>
    <div>{{ user.email }}</div>
    <div *ngIf="user.id === authService.user.id" class="mt-1">
        <i>{{ user.role }}</i>
    </div>
    <div *ngIf="user.deleted" class="text-danger mt-1">
        DELETED ACCOUNT
    </div>
</div>

<form (submit)="save()" *ngIf="!user.deleted && user.id !== authService.user.id" [formGroup]="userForm"
      class="form sign-in-form">

    <div *ngIf="showSuccess" class="form-group alert alert-success success-message mb-3">
        Saved successfully.
    </div>

    <div *ngIf="errorMessage" class="form-group alert alert-danger error-message mb-3">
        {{ errorMessage }}
    </div>

    <div *ngIf="!user.id" class="form-group">
        <label for="userEmail">Email</label>
        <input [class.is-invalid]="userForm.controls.UserEmail.touched && userForm.controls.UserEmail.invalid" [email]="true" class="form-control" formControlName="UserEmail"
               id="userEmail" maxlength="128" name="email" required
               type="email">
    </div>

    <div *ngIf="!user.id" class="form-group">
        <label class="mt-3" for="firstName">First Name</label>
        <input [class.is-invalid]="userForm.controls.FirstName.touched && userForm.controls.FirstName.invalid" class="form-control" formControlName="FirstName" id="firstName"
               maxlength="128" minlength="1" name="firstName"
               pattern="[a-zA-Z ]*"
               required>
    </div>

    <div *ngIf="!user.id" class="form-group">
        <label class="mt-3" for="lastName">Last Name</label>
        <input [class.is-invalid]="userForm.controls.LastName.touched && userForm.controls.LastName.invalid" class="form-control" formControlName="LastName" id="lastName"
               maxlength="128" minlength="1" name="lastName"
               pattern="[a-zA-Z ]*"
               required>
    </div>

    <div *ngIf="user.id && user.active" class="form-group">
        <label class="mt-3" for="role">Role</label>
        <select [class.is-invalid]="userForm.controls.Role.touched && userForm.controls.Role.invalid" class="form-control"
                formControlName="Role" id="role" name="role"
                required>
            <option *ngFor="let role of roles" [value]="role">{{ role }}</option>
        </select>
    </div>

    <div *ngIf="user.id && user.active" class="form-group mt-3">
        <button [class.btn-warning]="userForm.invalid"
                [disabled]="userForm.invalid"
                class="btn btn-success"
                type="submit">Save
        </button>
    </div>

    <div *ngIf="user.id" class="form-group mt-5">
        <button (click)="confirmReset()"
                class="btn btn-sm btn-warning"
                type="button">Reset password &amp; 2FA
        </button>

        <div>
            <small class="text-muted">User will receive a new activation link. Role will be set to "Viewer".</small>
        </div>
    </div>

    <div *ngIf="user.id" class="form-group mt-5">
        <button (click)="confirmDeactivate()"
                class="btn btn-sm btn-danger"
                type="button">Deactivate user account permanently
        </button>

        <div>
            <small class="text-muted">Logs related to the user will remain.</small>
        </div>
    </div>

    <div *ngIf="!user.id" class="form-group mt-3">
        <button [class.btn-warning]="userForm.invalid"
                [disabled]="userForm.invalid"
                class="btn btn-success"
                type="submit">Send Invitation Link
        </button>

        <div class="text-muted text-small mt-2">
            <i>Link expires in 24h. By default a new user gets a restricted "Viewer" role.
                It can be changed by the admin once user has set the password and 2FA.</i>
        </div>
    </div>
</form>
