<div class="card review p-5">
    <div class="card-body validators">
        <table class="table">
            <thead>
            <tr>
                <th>Date (UTC)</th>
                <th>Days from Genesis</th>
                <th>Unlocked Amount</th>
                <th>Total Locked</th>
                <th>Total Unlocked</th>
                <th></th>
            </tr>
            <tr>
                <th></th>
                <th>
                    0-89
                </th>
                <th>
                    0
                </th>
                <th>
                    {{ locked | number:'1.0-2' }}
                    <sup title="Initial validators weight">*</sup>
                </th>
                <th>
                    0
                </th>
                <th></th>
            </tr>
            <tr>
                <th></th>
                <th>
                    90-103
                </th>
                <th>
                    <input [(ngModel)]="unlock90" [disabled]="authService?.user?.role === 'viewer'"
                        type="number" min="0" (keyup)="checkUnlock90Field()">
                </th>
                <th>
                    {{ locked - unlock90 | number:'1.0-2' }}
                </th>
                <th>
                    {{ unlock90 | number:'1.0-2' }}
                </th>
                <th></th>
            </tr>
            </thead>
            <tbody *ngIf="!expanded">
            <tr class="text-muted">
                <td colspan="7" class="right pb-4">
                    <a class="btn btn-link" (click)="expanded = true">Expand 90-days schedule</a>
                </td>
            </tr>
            </tbody>
            <tbody *ngIf="expanded">
            <tr *ngFor="let unlockDate of [1,2,3,4,5,6,7,8,9,10,11,12,13,14]"
                [class.text-bold]="unlockDate === 14">
                <td></td>
                <td>
                    {{ 89 + unlockDate }}
                </td>
                <td>
                    {{ unlock90 / 14 | number:'1.0-2' }}
                </td>
                <td>
                    {{ locked - (unlock90 / 14 * unlockDate) | number:'1.0-2' }}
                </td>
                <td>
                    {{ unlock90 / 14 * unlockDate | number:'1.0-2' }}
                </td>
                <td></td>
            </tr>
            </tbody>
            <tbody>
            <tr class="text-bold" *ngFor="let custom of customUnlocks; let i = index">
                <td>{{ custom.date | date: 'medium' }}</td>
                <td>
                    {{ getDaysSinceGenesis( custom.date ) }}
                </td>
                <td>
                    <input [(ngModel)]="custom.amount" [disabled]="authService?.user?.role === 'viewer'"
                           type="number" min="0" (keyup)="checkCustomField( i )">
                </td>
                <td>
                    {{ locked - unlock90 - customSum( custom ) | number:'1.0-2'}}
                </td>
                <td>
                    {{ unlock90 + customSum( custom ) | number:'1.0-2'}}
                </td>

                <td>
                    <button class="btn btn-sm btn-warning remove-button" (click)="remove(i)">&mdash;</button>
                </td>

            </tr>
            <tr>
                <td colspan="5"></td>
                <td>
                    <button class="btn btn-sm btn-success add-button" (click)="add()">+</button>
                </td>
            </tr>
            <tr *ngIf="totalLocked() > 0">
                <td colspan="6">
                    <div class="alert alert-warning">
                        There's a locked amount of
                        {{ totalLocked() | number:'1.0-2'}}
                        without any specific unlock dates.
                    </div>
                </td>
            </tr>
            <tr *ngIf="totalLocked() < 0">
                <td colspan="6">
                    <div class="alert alert-danger">
                        Incorrect unlock amount. Please check the fields.
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
        <div *ngIf="authService?.user?.role !== 'viewer'" class="pt-4 right">
            <div *ngIf="message" [class.alert-danger]="message.type === 'error'"
                 [class.alert-info]="!message.type"
                 [class.alert-success]="message.type === 'success'"
                 [class.alert-warning]="message.type === 'warning'"
                 class="alert">
                {{ message.text }}
            </div>
            <button (click)="save()" [class.btn-disabled]="authService.status || totalLocked() < 0"
                    [disabled]="authService.status || totalLocked() < 0"
                    class="btn btn-lg btn-success"
                    style="width: 240px">
                <i *ngIf="authService.status" aria-hidden="true" class="fa fa-spinner fa-spin me-2"></i>

                <span *ngIf="!authService.status">Approve&nbsp;&amp; Calculate</span>
                <span *ngIf="authService.status">Deploying&hellip;</span>
            </button>
            <div class="mt-2 text-muted">
                <small>
                    This will trigger the update in database and will take a few minutes to finish.<br>
                    After that, circulating supply will be updated on the API endpoints.<br>
                </small>
            </div>
        </div>
    </div>
</div>

