.review {
	margin-top: 100px;

	.validators {
		display: block;

		.right {
			text-align: right;
		}

		button {
			width: 120px;
			text-align: center;
			&.remove-button, &.add-button {
				width: 30px;
				font-weight: bold;
				color: #fff;
			}
		}

		button.btn-close {
			width: 24px;
			float: right;
			margin-top: -35px;
			margin-right: -35px;
		}

		.text-bold {
			font-weight: bold;
		}
	}
}



