<div *ngIf="data && data.name" class="tree-container">
    <app-tree (selectedNode)="selectNode( $event )" *ngIf="data && data.name" [data]="data"></app-tree>
</div>

<div *ngIf="showTable || overview" class="card review p-5">
    <button (click)="cancel()" *ngIf="!overview" aria-label="Close"
            class="btn-close" type="button"></button>
    <div *ngIf="!overview" class="card-title">
        <h3 class="mb-4">
            Review Transactions
            ({{
            account.name ||
            account.to ? account.to?.substr(0, 4) + '&hellip;' +
                account.to?.substr(-4, 4) :
                account.toHash?.substr(0, 17) + '&hellip;' +
                account.toHash?.substr(-4, 4)
            }})
        </h3>
        <ul class="nav nav-tabs">
            <li *ngIf="!this.isGenesisAccount" class="nav-item">
                <a (click)="page = 1;setFromPrevious()" [class.active]="tab === 'previous'" class="nav-link">
                    From {{
                    account.name ||
                    account.from ? account.from?.substr(0, 4) + '&hellip;' +
                        account.from?.substr(-4, 4) :
                        account.fromHash?.substr(0, 17) + '&hellip;' +
                        account.fromHash?.substr(-4, 4)
                    }}
                </a>
            </li>
            <li class="nav-item">
                <a (click)="page = 1; setInbound()" [class.active]="tab === 'inbound'" class="nav-link to">
                    All Inbound
                </a>
            </li>
            <li class="nav-item">
                <a (click)="page = 1; setOutbound()" [class.active]="tab === 'outbound'" class="nav-link from">
                    All Outbound
                </a>
            </li>
        </ul>
    </div>
    <div class="card-body">
        <div *ngIf="!overview" class="review-details mb-3">
            <div *ngIf="tab === 'previous'">
                <div>
                    <span class="from">From:</span>&nbsp;
                </div>
                <div class="ms-3">
                    Hex: {{ account.from || 'Unknown' }}
                    <i (cbOnSuccess)="copied($event)" *ngIf="account.from" cbContent="{{ account.from }}"
                       class="far fa-clipboard"
                       ngxClipboard></i>
                </div>
                <div class="ms-3">
                    <i class="text-muted small">
                        ( {{ account.fromHash }}
                        <i (cbOnSuccess)="copied($event)" cbContent="{{ account.fromHash }}" class="far fa-clipboard"
                           ngxClipboard></i>
                        )
                    </i>
                </div>
                <div class="mt-2">
                    <span class="to">To:</span>&nbsp;
                </div>
                <div class="ms-3">
                    Hex: {{ account.to || 'Unknown' }}
                    <i (cbOnSuccess)="copied($event)" *ngIf="account.to" cbContent="{{ account.to }}"
                       class="far fa-clipboard"
                       ngxClipboard></i>
                </div>
                <div class="ms-3">
                    <i class="text-muted small">
                        ( {{ account.toHash }}
                        <i (cbOnSuccess)="copied($event)" cbContent="{{ account.toHash }}" class="far fa-clipboard"
                           ngxClipboard></i> )
                    </i>
                </div>
            </div>
            <div *ngIf="tab === 'inbound'">
                <div class="mt-2">
                    <span class="to">To:</span>&nbsp;
                </div>
                <div class="ms-3">
                    Hex: {{ account.to || 'Unknown' }}
                    <i (cbOnSuccess)="copied($event)" *ngIf="account.to" cbContent="{{ account.to }}"
                       class="far fa-clipboard"
                       ngxClipboard></i>
                </div>
                <div class="ms-3">
                    <i class="text-muted small">
                        ( {{ account.toHash }}
                        <i (cbOnSuccess)="copied($event)" cbContent="{{ account.toHash }}" class="far fa-clipboard"
                           ngxClipboard></i> )
                    </i>
                </div>
            </div>
            <div *ngIf="tab === 'outbound'">
                <div>
                    <span class="from">From:</span>&nbsp;
                </div>
                <div class="ms-3">
                    Hex: {{ account.to || 'Unknown' }}
                    <i (cbOnSuccess)="copied($event)" *ngIf="account.to" cbContent="{{ account.to }}"
                       class="far fa-clipboard"
                       ngxClipboard></i>
                </div>
                <div class="ms-3">
                    <i class="text-muted small">
                        ( {{ account.toHash }}
                        <i (cbOnSuccess)="copied($event)" cbContent="{{ account.toHash }}" class="far fa-clipboard"
                           ngxClipboard></i> )
                    </i>
                </div>
            </div>
        </div>
        <div *ngIf="!transfers?.length && !overview || (overview && transfersLoaded && !transfers.length)" class="alert alert-warning">
            No transactions found.
        </div>
        <div *ngIf="overview && !transfersLoaded && !transfers.length" class="loading">
            <i aria-hidden="true" class="fa fa-spinner fa-spin me-2"></i>
        </div>
        <table *ngIf="transfers?.length" class="table">
            <thead>
            <tr>
                <th class="checkbox-cell" scope="col">
                    <input (click)="selectAll()" [disabled]="authService?.user?.role === 'viewer'" [hidden]="overview"
                           [ngModel]="allSelected" type="checkbox">
                </th>
                <th scope="col">
                    <a (click)="changeSort( 'blockHeight' )">
                        <span class="sortable me-1">Block</span>
                        <i class="fa fa-sort-up" *ngIf="sortColumn === 'blockHeight' && sortOrder === 'ASC'"></i>
                        <i class="fa fa-sort-down" *ngIf="sortColumn === 'blockHeight' && sortOrder === 'DESC'"></i>
                    </a>
                </th>
                <th scope="col">Date</th>
                <th scope="col">Deploy Hash</th>
                <th *ngIf="tab === 'inbound' || overview" scope="col">From</th>
                <th *ngIf="tab === 'outbound' || overview" scope="col">To</th>
                <th class="amount-cell right" scope="col">
                    <a (click)="changeSort( 'denomAmount' )">
                        <span class="sortable me-1">Amount</span>
                        <i class="fa fa-sort-up" *ngIf="sortColumn === 'denomAmount' && sortOrder === 'ASC'"></i>
                        <i class="fa fa-sort-down" *ngIf="sortColumn === 'denomAmount' && sortOrder === 'DESC'"></i>
                    </a>
                </th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let transfer of transfers|
                paginate: { itemsPerPage: perPage, currentPage: page, totalItems: totalItems, id: 'pagination' };
                let i = index">
                <td class="checkbox-cell">
                    <input (change)="message = null; this.checkSelected();" [(ngModel)]="transfer.selected"
                           [disabled]="authService?.user?.role === 'viewer'"
                           [hidden]="overview"
                           type="checkbox">
                </td>
                <td>{{ transfer.blockHeight }}</td>
                <td>{{ transfer.timestamp | date: 'medium' }}</td>
                <td>
                    {{ transfer.deployHash.substr(0, 8) + '&hellip;' + transfer.deployHash.substr(-8, 8) }}
                    <i (cbOnSuccess)="copied($event)" cbContent="{{ transfer.deployHash }}" class="far fa-clipboard"
                       ngxClipboard></i>
                </td>
                <td *ngIf="tab === 'inbound' || overview">
                        <span *ngIf="transfer.from">
                            {{ transfer.from.substr(0, 8) + '&hellip;' + transfer.from.substr(-8, 8) }}
                        </span>
                    <span *ngIf="!transfer.from">
                             {{ transfer.fromHash.substr(0, 17) + '&hellip;' + transfer.fromHash.substr(-4, 4) }}
                        </span>

                    <i (cbOnSuccess)="copied($event)" cbContent="{{ transfer.from || transfer.fromHash }}"
                       class="far fa-clipboard"
                       ngxClipboard></i>
                </td>
                <td *ngIf="tab === 'outbound' || overview">
                         <span *ngIf="transfer.to">
                            {{ transfer.to.substr(0, 8) + '&hellip;' + transfer.to.substr(-8, 8) }}
                         </span>
                    <span *ngIf="!transfer.to">
                            {{ transfer.toHash.substr(0, 17) + '&hellip;' + transfer.toHash.substr(-4, 4) }}
                         </span>
                    <i (cbOnSuccess)="copied($event)" cbContent="{{ transfer.to || transfer.toHash }}"
                       class="far fa-clipboard"
                       ngxClipboard></i>
                </td>
                <td class="right amount-cell">
                    {{ transfer.amount / 1000000000 | number:'1.0-2' }}
                </td>
            </tr>
            </tbody>
            <tfoot class="total">
            <tr *ngIf="!overview">
                <td [attr.colspan]="tab === 'previous' ? 4 : overview ? 6 : 5" class="right">
                    Total (CSPR):
                </td>
                <td class="right">{{ (tab !== 'previous' ? allTransferSum : transfersSum) | number:'1.0-0' }}</td>
            </tr>
            <tr>

                <td [attr.colspan]="tab === 'previous' ? 4 : overview ? 6 : 5" class="right">
                    Include in Circulating Supply (CSPR):
                </td>
                <td class="right">
                    {{ countSelected() | number:'1.0-0' }}
                </td>
            </tr>
            </tfoot>
        </table>
        <div *ngIf="tab !== 'previous'" class="row">
            <div class="col-sm-4 form-group pt-4">
                <label>Per page</label>
                <select (change)="perPageChanged()" [(ngModel)]="perPage" class="per-page" name="per-page">
                    <option value="15">15</option>
                    <option value="25">25</option>
                    <option value="50">50</option>
                    <option value="100">100</option>
                    <option value="500">500</option>
                    <option value="1000">1000</option>
                </select>
            </div>
            <div class="col-sm-8 pt-4 right" *ngIf="totalItems > perPage">
                <pagination-controls (pageBoundsCorrection)="pageChanged( $event )"
                                     (pageChange)="pageChanged( $event )"
                                     autoHide="true"
                                     directionLinks="true"
                                     id="pagination"
                                     maxSize="9"
                                     nextLabel="Next"
                                     previousLabel="Previous"
                                     responsive="true"
                                     screenReaderCurrentLabel="You're on page"
                                     screenReaderPageLabel="page"
                                     screenReaderPaginationLabel="Pagination">
                </pagination-controls>
            </div>
        </div>

        <div *ngIf="authService?.user?.role !== 'viewer' && (!overview || transfersLoaded )" class="pt-4 row">
            <div *ngIf="message" [class.alert-danger]="message.type === 'error'"
                 [class.alert-info]="!message.type"
                 [class.alert-success]="message.type === 'success'"
                 [class.alert-warning]="message.type === 'warning'"
                 class="alert">
                {{ message.text }}
            </div>

            <div *ngIf="authService.status && authService?.user?.role !== 'viewer'" class="alert alert-warning">
                <i *ngIf="authService.status" aria-hidden="true" class="fa fa-spinner fa-spin me-2"></i>
                Database update is performing in background. Saving and approval are temporarily not available.
                <b>{{ 100 - authService.status }}%</b>
            </div>

            <div class="col pt-4">
                <div *ngIf="tab !== 'previous' && tab !== 'approved'">
                    <button (click)="saveAll()"
                            [class.btn-disabled]="isSaving || authService.status"
                            [disabled]="isSaving || authService.status"
                            class="btn btn-lg btn-success mt-3" style="width: 250px">
                        Save All {{ tab | titlecase }} TXs
                    </button>
                    <div class="approve-type mt-2">
                        As:
                        <label class="me-2 ms-2">
                            <input type="radio" name="saveAllType" value="1" [(ngModel)]="approveType">
                            Approved
                        </label>
                        <label>
                            <input type="radio" name="saveAllType" value="0" [(ngModel)]="approveType">
                            Not Approved
                        </label>
                    </div>
                </div>
            </div>
            <div class="col pt-4">
                <div class="pt-4 right">
                    <button (click)="cancel()" *ngIf="tab !== 'approved'"
                            [class.btn-disabled]="isSaving" [disabled]="isSaving" class="btn btn-lg btn-warning me-3">
                        Cancel
                    </button>
                    <button (click)="save()" *ngIf="tab !== 'approved'"
                            [class.btn-disabled]="( countSelected() === countApproved() ) || isSaving || authService.status"
                            [disabled]="( countSelected() === countApproved() ) || isSaving || authService.status"
                            class="btn btn-lg btn-success" style="width: 200px">
                        Save&nbsp;Selected
                    </button>
                </div>
            </div>

            <button (click)="calculate()" *ngIf="overview"
                    [class.btn-disabled]="authService.status"
                    [disabled]="authService.status"
                    class="btn btn-lg btn-success"
                    style="width:250px;">
                <span>Approve&nbsp;&amp; Calculate</span>
            </button>
            <div *ngIf="overview" class="mt-2 text-muted right">
                <small>
                    This will trigger the update in database and will take a few minutes to finish.<br>
                    After that, circulating supply will be updated on the API endpoints.<br>
                    <span *ngIf="totalItems > perPage">
                        Please note, it affects all pages, not just the current one.
                    </span>
                </small>
            </div>

        </div>
    </div>
</div>

